.header-button{
    list-style: none;
    display: grid;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    li{
        margin: 10px 0;
        .wp-element-button{
            display: inline-block;
        }
    }
}