$hero-banner: ".hero-swiper-banner";

#{$hero-banner} {
	position: relative;

	.slick-slider {
		.slick-dots {
			position: absolute;
			bottom: 48px;
			margin: 0;
		}
	}

	.swiper-slide {
		position: relative;
		display: flex !important;
		min-height: 75vh !important;
		margin: 0;
		@media (max-width: 992px) {
			min-height: 60vh !important;
		}
	}

	.hero-swiper-content {
		z-index: 1;
		position: relative;
		align-items: center !important;
		padding: 0
			calc((100% - var(--wp--style--global--content-size) + 40px) / 2) !important;
	}
}
