/* Deafult Gallery with slider design */
.hero-banner-section{
	display: none;
	@include respond-above('lg'){
		display: block;
	}
	.hero-banner-item{
		min-height: 53vh !important;
		@include respond-above('xxl'){
			min-height: 65vh !important;
		}
	}
	.hero-banner-content{
		h2,h1{	
			text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.63);
		}
	}
}

.mobile-banner-section{
	@include respond-above('lg'){
		display: none;
	}
	.mobile-banner-item{
		min-height: 570px;

		.mobile-banner-content{
			h1{
				font-size: 20px !important;
				text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.63);

			}
			h2{
				font-size: 44px !important;
				line-height: 1.15;
				text-shadow: 0px 0px 36px rgba(0, 0, 0, 0.63);
			}
		}
	}
}

.affiliate-logo-section{
	
	.affiliate-list{
		position: relative;
		z-index: 999;
		top: -66px;
		.wp-block-column{
			@include respond-below('md-wp'){
				flex-basis: 133px !important;
			}
			@include respond-below('sm'){
				flex-basis: 108px !important;
				flex: none;
			}
			.wp-block-group{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 133px;

				@include respond-below('sm'){
					width: 108px;
					min-height: 108px !important;
				}
			}
		}
	}
}

.gallery-with-slider {
	position: relative;

	&.slick-slider {
		.slick-dots {
			position: absolute;
			bottom: 0;
		}

		.slick-slide {
			height: inherit;
		}
	}
}

/* Condition Section **/
.condition-section{
	.condition-listing{
		@include respond-below('sm'){
			grid-template-columns: 1fr 1fr;
       		padding: 0 !important;
		}
		.cta-item{
			.condition-item{
				position: relative;
				.svg-embed{
					width: 108px;
					height: 108px;
					background: var(--wp--preset--color--secondary-100);
					display: flex;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: -25px;
					left: -25px;
					clip-path: path("M31.68,85.681v-9.36H22.32a22.32,22.32,0,0,1,0-44.64h9.36v-9.36a22.32,22.32,0,1,1,44.64,0v9.36h9.361a22.32,22.32,0,1,1,0,44.64H76.32v9.36a22.32,22.32,0,1,1-44.64,0Z");
					transition: .5s ease all;
					z-index:99;
					svg{
						path{
							stroke: var(--wp--preset--color--white);
						}
					}
					@include respond-below('md'){
						display: none;
					}
				}
				h3{
					transition: .5s ease all;
				}
			}
			&:hover{
				.condition-item{
					.svg-embed{
						background: var(--wp--preset--color--tertiary-100);
						transform: rotate(40deg);
					}
					h3{
						color: var(--wp--preset--color--tertiary-100) !important;
					}
					.wp-block-image{
						&::before {
							opacity: 0.5;
							transform: scale(1);
							visibility: visible;
						}
					}
				}
			}
			.wp-block-image{
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					opacity: 0;
					visibility: hidden;
					border-radius: 100%;
					background-color: var(--wp--preset--color--tertiary-100);
					pointer-events: none;
					transform: scale(0.5);
					transition: 0.4s all;
			
				}
			}
		}
	}
	.condition-wrapper{
		justify-content: space-between;
		.condition-part{
			@include respond-below('md-wp') {
				padding: 0 70px;
			}
			@include respond-below('ssm') {
				padding: 0 40px;
			}
			
			.cta-item{
				.cta-item-inner{
					.cta-item-group{
						.svg-embed{
							position: relative;
							overflow: hidden;
							&:before{
								position: absolute;
								width: 120%;
								height: 100%;
								background: var(--wp--preset--color--secondary-100);
								left: 100%;
								top: 100%;
								content: "";
								transform: rotate(122deg);
								transition: .8s all;
								pointer-events: none;
								cursor: none;
							}
							svg{
								position: relative;
							}
						}
					}
					&:hover{
						.cta-item-group{
							.svg-embed{
								&:before{
									left: -69%;
									top: -50%;
								}
							}
						}
					}
				}
			}
		}
	}
}

.about-section{
	.about-listing{
		@include respond-below('lg'){
			display: block !important;
			padding: 0 !important;
		}
		&.slick-slider{
			display: block !important;
			padding-right: 50px !important;
    		padding-left: 50px !important;

			.clover-shape{
				top: -15px;
				left: 25px;
			}
		}
		.slick-list{
			padding-top: 30px;
		}
		.about-item{
			position: relative;
			.clover-shape{
				// @include respond-below('lg'){
				// 	left: 80px;
				// }
			}
		}
	}

}

/* Testimonial Section */
.testimonial-section{
	.testimonial-section-inner{
		justify-content: space-between;
		padding-left: calc((100% - var(--wp--style--global--content-size)) / 2);

		.testimonial-slider-part{
			@include respond-above('lg'){
				margin: 0;
			}
			@include respond-above('xl'){
				padding-right: 80px;
				margin: 0;
			}

			.wp-block-cover{
				position: relative;
				@include respond-below('xl'){
					padding: 50px !important;
				}
				&::before{
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					content: '';
					height: 100%;
					width: 80px;
					background: linear-gradient(to left, var(--wp--preset--color--primary-100) 0%, rgba(38, 38, 38, 0) 100%);
					z-index: 99;
				}
			}
		}
		.slick-dots {
			position: relative;
			width: 100%;
			margin: 15px 0;
			text-align: center;
		  
			li {
			  button {
				border: 1px solid var(--wp--preset--color--white);
		  
				&:hover {
				  cursor: pointer;
				  background-color: var(--wp--preset--color--white);
				}
			  }
			  &.slick-active {
				button {
					background-color: var(--wp--preset--color--white);
				}
			  }
			}
		  }

		.testimonial-block{
			
			.testimonial-block-listing-item{
				text-align: center;
				h3{
					font-weight: 400;
					margin-bottom: 25px;
					line-height: 1.24;
					text-transform: uppercase;
				}
				p{
					color: $white;
					font-size: 22px;
					font-weight: 800;
					line-height: 1.59;
				}
			}
		}
	}
	
}

/* Insurance Partner */
.insurance-partner {
	.insurance-partner-gallery {
		.wp-block-column {
			.svg-embed {
				width: auto;
				height: 50px;
				margin: 0 auto;
				padding: 10px 25px;
				display: block;

				svg {
					fill: currentColor;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.slick-list {
		width: 100%;
		max-width: 90%;
		margin: 0 auto;
	}

	.slick-arrow {
		&.slick-prev {
			left: 15px;
		}

		&.slick-next {
			right: 15px;
		}
	}
}

/* Appointment Step Block */
.appointment-steps-section {
	.appointment-steps-wrapper {
		.appointment-steps-block {
			position: relative;
			flex-basis: 750px !important;
			margin: 0 auto;

			@include respond-below("lg") {
				flex-basis: 100% !important;
			}

			.appointment-steps-icon {
				position: absolute;
				top: 15px;
				right: 0;
				z-index: 2;
				width: 255px;
				height: 300px;
				pointer-events: none;

				@include respond-below("xl") {
					height: 255px;
				}

				@include respond-above("xl") {
					height: 300px;
				}

				@include mobile() {
					display: none;
				}
			}

			svg {
				fill: currentColor;
			}
		}
	}
}

/* career cta block **/
.career-cta-block {
	.wp-block-ppcoreblocks-cta-icon-title-block {
		.cta-icon-only {
			.svg-embed {
				svg {
					fill: var(--wp--preset--color--primary-100);
				}
			}

			&:hover {
				background-color: transparent !important;

				.svg-embed {
					svg {
						fill: var(--wp--preset--color--secondary-100);
					}
				}
			}
		}
	}
}


.clover-shape{
	width: 108px;
    height: 108px;
    background: var(--wp--preset--color--secondary-100);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -25px;
    left: -25px;
    clip-path: path("M31.68,85.681v-9.36H22.32a22.32,22.32,0,0,1,0-44.64h9.36v-9.36a22.32,22.32,0,1,1,44.64,0v9.36h9.361a22.32,22.32,0,1,1,0,44.64H76.32v9.36a22.32,22.32,0,1,1-44.64,0Z");
    transition: .5s ease all;
    z-index: 99;
}


.slick-arrow-white{
	.slick-arrow{
		background: var(--wp--preset--color--white);
			color: var(--wp--preset--color--secondary-100);
			width: 40px;
			height: 40px;
			margin: 0;

			&:focus,
			&:hover {
				outline: none;
				cursor: pointer;
				color: var(--wp--preset--color--white);
				background-color: var(--wp--preset--color--secondary-100);
		}
	}
}