.listings-wrapper {
    padding: 40px 0;
}

.listings-result-container {
    .selected-posts {
        max-height: 225px;
        overflow: auto;
        margin: 8px 0 0 0 !important;
        border: 0.5px solid var(--wp--preset--color--black);
        padding: 7px;
        border-radius: 2px;
        ul {
            margin: 0;
            .selected-post-item-wrap {
                display: inline-block;
                margin: 0 2px 2px 0;
                padding: 1px;
                .selected-post-item {
                    cursor: move;
                    padding: 5px;
                    background-color: #e0e0e0;
                    border-radius: 5px;
                    display: inline-block;
                  }
            }
        }
    }
}
