%btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: var(--wp--custom--settings-key--padding-button-y) var(--wp--custom--settings-key--padding-button-x);
	color: var(--wp--preset--color--white);
	font-size: $font-size-base;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--wp--preset--color--primary-100);
	border-radius: var(--wp--custom--settings-key--border-radius-button);
	background-color: var(--wp--preset--color--primary-100);
	transition: all 0.3s ease;
	user-select: none;

	&:hover,
	a:hover & {
		cursor: pointer;
		color: var(--wp--preset--color--white);
		border-color: var(--wp--preset--color--secondary-100);
		background-color: var(--wp--preset--color--secondary-100);
		text-decoration: none;
	}

	&:focus {
		color: var(--wp--preset--color--white);
		outline: 0;
	}
}

.btn {
	@extend %btn;

	&.outline {
		background-color: transparent;
		border-color: var(--wp--preset--color--primary-100);
		color: var(--wp--preset--color--primary-100);

		&:hover {
			background-color: var(--wp--preset--color--primary-100);
			color: var(--wp--preset--color--white);
		}
	}

	&.blue {
		background-color: transparent;
		border-color: var(--wp--preset--color--secondary-100);
		color: var(--wp--preset--color--secondary-100);

		&:hover {
			background-color: var(--wp--preset--color--secondary-100);
			color: var(--wp--preset--color--white);
		}
	}

	&-link {
		position: relative;
		color: var(--wp--preset--color--primary-100);
		font-size: $font-size-base;
		font-weight: 500;
		text-decoration: none;
		border: 0;
		user-select: none;
		display: inline-block;
		transition: all 0.3s ease;
		pointer-events: all;

		&::after {
			@include icon("\27F6");
			display: inline-flex;
			margin-left: 8px;
			color: var(--wp--preset--color--primary-100);
			transition: 0.4s ease;
		}

		&:hover,
		a:hover & {
			color: var(--wp--preset--color--secondary-100);
			text-decoration: none;
			border-color: currentColor;

			&::after {
				transform: translateX(4px);
				color: var(--wp--preset--color--secondary-100);
			}
		}
	}
}

.category-filter-nav {
	gap: 10px;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 0;
	}

	.btn {
		color: var(--wp--preset--color--white);
		border: none;
		background: var(--wp--preset--color--primary-200);

		&:hover,
		&.active {
			color: var(--wp--preset--color--white);
			background: var(--wp--preset--color--primary-100);
		}
	}
}

.wp-block-post-excerpt__more-link,
.wp-block-read-more {
	position: relative;
	color: var(--wp--preset--color--primary-100);
	font-size: $font-size-base;
	font-weight: 500;
	text-decoration: none;
	border: 0;
    user-select: none;
    display: inline-block;
    transition: all 0.3s ease;
    pointer-events: all;

	&::after {
        @include icon("\27F6");
        display: inline-block;
        margin-left: 8px;
        color: var(--wp--preset--color--primary-100);
        transition: 0.4s ease;
        vertical-align: -webkit-baseline-middle;
		line-height: 1; 
		position: relative; 
		top: 0;
		font-size: 18px;
		transform: translateY(-7px);
	}

	&:hover {
		color: var(--wp--preset--color--secondary-100);
		text-decoration: none;
		border-color: currentColor;

		&::after {
			color: var(--wp--preset--color--secondary-100);
		}
	}
}

html.is-mac {
	.wp-block-post-excerpt__more-link,
	.wp-block-read-more {
		&::after {
			transform: translateY(-10px);
		}
	}
}

html.is-win.is-firefox {
	.wp-block-post-excerpt__more-link,
	.wp-block-read-more {
		&::after {
			transform: translateY(1px);
		}
	}
}

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .wp-block-post-excerpt__more-link::after,
        .wp-block-read-more::after {
            transform: translateY(-10px);
        }
    }
}

button.wp-block-search__button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %btn;
	-webkit-appearance: button;
}

/** Request Appointment button style */
.appointment-button {

	.btn,
	.wp-block-button__link {
		@extend .btn;
		background-color: var(--wp--preset--color--tertiary-100);
		border-color: var(--wp--preset--color--tertiary-100);
		color: var(--wp--preset--color--white);

		&:focus,
		&:hover {
			background-color: var(--wp--preset--color--primary-100);
			border-color: var(--wp--preset--color--primary-100);
			color: var(--wp--preset--color--white);
		}
	}
}

/* Button:hover color **/
.wp-block-button__link {
	&:hover {
		color: var(--wp--preset--color--white);
	}
}

.cta-btn-link {
	a {
		@extend .btn-link;

		&:hover,
		a:hover & {
			color: var(--wp--preset--color--secondary-100) !important;
			text-decoration: none;
			border-color: currentColor;

			&::after {
				transform: translateX(4px);
				color: var(--wp--preset--color--secondary-100);
			}
		}
	}
}