/**
 * Basic typography style for copy text
 */
@use "sass:math";

html {
	height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	max-width: 100%;
	min-height: 100%;
	height: auto;

	@media screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
		height: 100%;
	}

	&.scroll-fixed {
		overflow: hidden;
	}
}

.flex-layout {
	display: flex;
}

table {
	display: inline-table;
}

p {
	margin-bottom: 20px;
	font-weight: 400;
}

p:last-of-type {
	margin-bottom: 0;
}

:is(ul, ol) {
	--ulolLeftPadding: #{20px};
	padding-left: var(--ulolLeftPadding);
	margin-bottom: 15px;

	:is(ul, ol) {
		margin-top: 12px;
		margin-bottom: 0;
	}

	li {
		padding-top: 6px;
		padding-bottom: 6px;

		.bullet-styled & {
			position: relative;
			list-style: none;

			&:before {
				position: absolute;
				left: calc(var(--ulolLeftPadding) * -1);
				color: var(--wp--preset--color--primary-100);
				font-weight: 700;
				line-height: 1;
			}
		}

		&:last-child {
			padding-bottom: 0;
		}
	}
}

ul {
	>li {
		.bullet-styled & {
			--ulBox: 8px;

			&::before {
				content: "";
				top: 14px;
				width: var(--ulBox);
				height: var(--ulBox);
				background: transparent;
				border-radius: 100%;
				border: 2px solid var(--wp--preset--color--secondary-100);
			}

			>ul {
				>li {
					&::before {
						border: 1px solid var(--wp--preset--color--gray-400);
						height: 6px;
						width: 6px;
					}

					>ul {
						>li {
							--ulBox: 4px;

							&::before {
								top: em(16px);
								background: currentColor;
								border-radius: 0;
							}
						}
					}
				}
			}
		}

		.bullet-check & {
			--ulBox: 24px;
			padding: 0 0 0 36px;
			margin-bottom: 10px;
			position: relative;

			&::before {
				@include icon("k");
				position: absolute;
				top: 0;
				left: 0;
				width: var(--ulBox);
				height: var(--ulBox);
				font-size: 24px;
				color: var(--wp--preset--color--primary-100);
				@include flex-center();

				.bg-dark & {
					// color: var(--wp--preset--color--white);
				}
			}
		}

		.bullet-check.-secondary & {
			&:before {
				color: var(--wp--preset--color--secondary-100);
			}
		}
	}

	.bullet-check & {
		padding-left: 0;
		list-style: none;
	}
}

ol {
	>li {
		.bullet-styled & {
			counter-increment: counter-1;

			&:before {
				content: counter(counter-1) ". ";
				top: 10px;
				font-size: em(14px);
			}

			>ol {
				counter-reset: counter-2;

				>li {
					counter-increment: counter-2;

					&:before {
						content: counter(counter-2, lower-alpha) ". ";
					}
				}
			}
		}
	}
}

blockquote {
	position: relative;
	display: block;
	margin-bottom: 25px;
	padding: 20px 20px;
	text-align: left;
	line-height: 2;
	font-size: 18px;
	font-style: italic;
	color: var(--wp--preset--color--black);
	background-color: var(--wp--preset--color--gray-400);
	border-left: 4px solid var(--wp--preset--color--primary-100);

	p {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		color: inherit;
	}
}

hr {
	width: 100%;
	height: 0;
	margin: 30px auto;
	border: 0 var(--wp--preset--color--black) solid;
	border-top-width: 1px;
	overflow: visible;
}

img {
	display: inline-block;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	border: none;

	&[src$=".svg"] {
		max-height: 100%;
	}
}

picture {
	display: inline-block;
	vertical-align: top;
}

/* Link */
a {
	color: var(--wp--preset--color--primary-100);
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	text-decoration: none;

	&:hover {
		color: var(--wp--preset--color--secondary-100);
		outline: none;
		text-decoration: none;
	}

	&.tab-outline {
		outline-offset: 3px;
		outline: 1px solid;
	}

	p & {
		//font-weight: 700;

		&:focus {
			outline: none;
			border-radius: var(--wp--custom--settings-key--border-radius);
		}
	}
}

/* Tables */
table {
	border-spacing: 0;
	border-collapse: collapse;

	td {
		text-align: left;
		font-weight: normal;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-bordered {
	width: 100%;
	max-width: 100%;
	text-align: left;

	td,
	th {
		vertical-align: bottom;
		border-bottom: 1px solid var(--wp--preset--color--gray-400);
		padding: 10px;
	}
}